@import "styles/modules-left.css";
@import "styles/modules-center.css";
@import "styles/modules-right.css";
@import "theme.css";

* {
	font-family: "JetBrains Mono";
	font-weight: bold;
	font-size: 14px;
	color: @main-fg;
}

/* main outline */

window#waybar {
	background-color: rgba(40, 46, 56, 0.8);		/*shade(@main-bg, 0.88) conversion to rgba for better opacity handling*/
}

/* main background */

window#waybar > box {
	margin: 3px;
	background-color: rgba(46, 52, 64, 0.0);		/*@main-bg conversion to rgba for better opacity handling*/
}

/* hoverables */

#clock.date:hover,
#network:hover,
#bluetooth:hover,
#mpris:hover,
#pulseaudio:hover {
	color: @hover-fg;
}

/* states */

.warning { color: @warning; }
.critical { color: @critical; }
.charging { color: @charging; }
.muted { color: @hover-fg; }

/* dividers */

#custom-left_div,
#custom-right_div {
	font-size: 25px;
}

#custom-left_inv,
#custom-right_inv {
	font-size: 29px;
}

/* buttons */

button {
	border-radius: 15px;
	padding: 0 6px;
	margin: 2px
}
button:hover {
	background-color: @hover-bg;
}

/* tooltips */

tooltip {
	border: 2px solid @main-br;
	border-radius: 10px;
	background-color: @main-bg;
}
tooltip label {
	margin: 2px 4px;
	font-weight: bold;
}
tooltip decoration {
	border: none;
	background-color: transparent;
}
