@import "../theme.css";

/* audio visualiser */

#custom-cava {
	padding-right: 15px;
	font-weight: bold;
}

/* power-profiles-daemon */

#power-profiles-daemon {
	padding-right: 12px;
}

/* volume */

#custom-left_div.5 {
	color: @accent-light;
}
#pulseaudio {
	background-color: @accent-light;
	text-shadow: 0 0 2px @main-bg;
}

/* brightness (ddcutil) */

#custom-left_div.6 {
	background-color: @accent-light;
	color: @main-bg;
}
#custom-brightness {
	background-color: @main-bg;
	padding-top: 5px;
	padding-right: 10px;
}

/* power menu */

#custom-power_menu {
	padding: 0 19px 0 16px;
	font-size: 18px;
}
